@import '../../../empire_builders/src/common/styles/sass/variables';
@import '../../../empire_builders/src/common/styles/sass/mixins';

.servicesBlock {
  min-height: 100vh;
  padding: 100px;

  .container {
    @include flex(column, space-between, center, wrap);
    width: 100%;
  }

  .services {
    @include flex(row, center, center, wrap);
    width: 100%;
  }
}
