@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.contacts {
  padding: 100px 0;
  min-height: 74vh;
  @media screen and (max-width: 400px) {
    padding: 60px 0;
  }

  .container {
    @include container();
    @include flex(column, space-between, center, wrap);
    height: 70vh;

    @media screen and (max-width: 995px) {
      height: 100%;
    }

    .contactsInfo {
      color: $textColor;
      @include flex(row, space-between, center, wrap);
      width: 100%;
      margin-top: 30px;

      @media screen and (max-width: 995px) {
        @include flex(row, center, center, wrap);
        align-content: center;
      }

      @media screen and (max-width: 540px) {
        font-size: 12px;
      }

      .image {
        width: 25px;
        height: 25px;
        vertical-align: middle;
        horiz-align: center;
        padding-right: 10px;
      }

      @media screen and (max-width: 995px) {
        @include flex(row, center, center, wrap);
        align-content: space-between;
      }
    }
  }


  h3 a {
    text-decoration: none;
    color: $textColor;
  }
}