@import '../../../../../empire_builders/src/common/styles/sass/variables';
@import '../../../../../empire_builders/src/common/styles/sass/mixins';

.slider {

  --slider-height-percentage: 50%;
  --slider-transition-duration: 575ms;
  --organic-arrow-thickness: 6px;
  --organic-arrow-border-radius: 5px;
  --organic-arrow-height: 51px;
  --organic-arrow-color: #ff9900;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #ffffff;
  --control-bullet-active-color: #ff9900;
  --loader-bar-color: #ff9900;
  --loader-bar-height: 6px;

  @media screen and (max-width: 990px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.album {
  @include flex(column, center, center, nowrap);

  .image {
    height: 99%;
    width: 100%;
    object-fit: cover;
    margin: 1%;
  }
}

//.aws-btn {
//
//  --slider-height-percentage: 50%;
//  --slider-transition-duration: 575ms;
//  --organic-arrow-thickness: 6px;
//  --organic-arrow-border-radius: 5px;
//  --organic-arrow-height: 51px;
//  --organic-arrow-color: #ff9900;
//  --control-button-width: 10%;
//  --control-button-height: 25%;
//  --control-button-background: transparent;
//  --control-bullet-color: #ff9900;
//  --control-bullet-active-color: #ffffff;
//  --loader-bar-color: #ff9900;
//  --loader-bar-height: 6px;
//}