.mainBlock {
  min-height: 100vh;

  @media screen and (min-width: 600px) {
    min-height: 120vh;
  }

  .mainPhoto {
    background-image: url('../assets/image/main_photo.jpeg');
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    margin: auto;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    background-repeat: no-repeat;
    background-position: center;
  }

}

