.mainBlock {
  min-height: 100vh;
  height: 1px;

  .mainPhoto {
    background-image: url('../assets/image/main_photo.jpeg');
    background-size: cover;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    object-fit: contain;
    display: block;
    position: absolute;
    margin: auto;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

