@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.container {
  background-color: $bgSecondColor !important;

  @include flex(column, center, center, nowrap);

  @media screen and (max-width: 990px) {
    background-color: $bgColor !important;
  }

  .slider {
    bottom: 50px !important;
    z-index: 1 !important;

    --slider-height-percentage: 95vh !important;
    --slider-transition-duration: 575ms !important;
    --organic-arrow-thickness: 6px !important;
    --organic-arrow-border-radius: 5px !important;
    --organic-arrow-height: 51px !important;
    --organic-arrow-color: #ff9900 !important;
    --control-button-width: 10% !important;
    --control-button-height: 25% !important;
    --control-button-background: transparent !important;
    --control-bullet-color: #ffffff !important;
    --control-bullet-active-color: #ff9900 !important;
    --loader-bar-color: #ff9900 !important;
    --loader-bar-height: 6px !important;

    @media screen and (max-width: 990px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .album {
    @include flex(column, center, center, nowrap);
    min-height: 100vh;

    .image {
      height: 100%;
      width: 95%;
      object-fit: cover;
      margin: 1%;
      padding: 0.5%;
    }
  }

}