@import '../../../empire_builders/src/common/styles/sass/variables';
@import '../../../empire_builders/src/common/styles/sass/mixins';

.about {
  padding: 100px 0;
  min-height: 100vh;

  .container {
    @include container();
    @include flex(column, center, center, nowrap);

    .info {
      @include flex(row, center, center, nowrap);
      color: $textColor;

      .left {
        //background: red;
        height: 100%;
        flex-grow: 3;
      }

      .line {
        border: 1px solid $primaryColor;
        height: 50vh;
        margin: 50px;
      }

      .right {
        //background: green;
        height: 100%;
        flex-grow: 7;
      }
    }


  }


}