@import '../../../empire_builders/src/common/styles/sass/variables';
@import '../../../empire_builders/src/common/styles/sass/mixins';

.footerBlock {
  height: 5vh;
  text-align: center;
  color: $textColor;
  @include flex(column, center, center, wrap);

  .container {
    @include container();
    //@include flex(column, center, center, wrap);

    .copyright {
      @include text($textColor, 16px, 1.2, 300);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}